body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: white (190, 100%, 54%, 0);
    color: #000000;
    margin: 0;
    padding: 0;
}

header {
    background: #00f2ff;
    color: azure;
    padding:20px;
    text-align: center;
}

section{
    padding: 20px; ;
    margin: 10px auto; ;
    max-width: 300px;
    background: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.979);
}

h2{
    color: #ed1c24;
}
h3{
    color: #ffbb00;
}

footer{
    text-align: center;
    padding: 20px;
    background: #eee;
}

footer > p{
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}

.social-media {
    margin-top: 10px;
}

.social-media >a {
    margin: 0 10px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.social-media >a:hover {
    color: #00fff2;
    text-decoration: underline;
    font-size: 20px;
}

/* Project list */
.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-card{
    background-color: #eee;
    border-left: 4px solid #ff7300;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 3px 5px rgba(196, 15, 15, 0.442);
    transition: transform 0.3s;
}

.project-card:hover  {
    transform: translateY(-5px);
}
.project-card h3 {
    margin-top: 0%;
    color: #ff7b00;
}

.project-card p {
    color: #000000
}

.project-card >a {
    display: inline-block;
    padding: 8px 15px;
    background-color: #ff7300;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.project-card >a:hover {
    background-color: #ffbb00;
    color: #000000;
}
nav {
    background-color: #b10167;
    position: sticky;
    top: 0%;
    z-index: 1000;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    margin: 0;
    background-color: #e87203;
}

.navbar > a:{
    background-color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.navbar >li > a:hover {
    background-color: #ffbb00;
    color: #000000;
}